@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    overflow: hidden;
}
.container{
    width: 246px;
}
.container .text{
    font-size: 30px;
    font-weight: 600;
    color: black;
    position: relative;
}
.container .text.first-text{
    color: #0f30f3;
}
.text.sec-text:before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border-left: 2px solid black;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    60%, 40%{
    left: calc(100% + 4px);
    }
    100%{
        left: 0;
    }
}